@import '../../containers/common.scss';

.header {
  height: 40px;
  line-height: 40px;
  color: #666;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 1px 1px #ccc;
}

.list {
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 100px auto 0;
}
